
<div class="alert alert-Light text-center mb-2 lg" role="alert">
   ACTIVIDADES
</div>

  <div class="card-group">
    <div class="card">
      <img src="img/actividades/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BIENVENIDA</h5>
        <p class="card-text">Es una actividad hecha para los estudiantes de nuevo ingreso.</p>
        <p class="card-text"><small class="text-muted">Las tradiciones son importantes para nuestra querida institución.</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">EXPOTECNICA</h5>
        <p class="card-text">Es uno de los eventos más importantes en el CCTL.</p>
        <p class="card-text"><small class="text-muted">Es un evento de gran importancia.</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">INTERCOLEGIAL</h5>
        <p class="card-text">Es un evento deportivo bastante importante para el CCTL.</p>
        <p class="card-text"><small class="text-muted">El deporte es importante para la salud.</small></p>
      </div>
    </div>
  </div>