<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width: 300px;">
 <h2>Nuestra Historia</h2>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-bady">
                <img src="img/nuestra historia/1.jpg" width="200" style="float: left;margin-right: 5px;">
                El  Centro de Capacitación Técnica de Luque es una institución de gestión oficial, fue fundado el 20 de noviembre del año 1989.
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1989
        </button>
    </div>

</div>

<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1990
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body"> 
                <img src="img/nuestra historia/5.jpg" width="200" style="float: left;margin-right: 5px;">
                Las actividades académicas fueron iniciadas en el mes de febrero del año 1990 con un total de 50 alumnos en el turno mañana, en la modalidad de Básico Técnico, en las especialidades de Electricidad y Electrónica.
            </div>

        </div>

    </div>

</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-bady">
                <img src="img/nuestra historia/4.jpg" width="200" style="float: left;margin-right: 5px;">
                En el año 1993 se implementó en el turno tarde la modalidad de Bachillerato Técnico Industrial, en ambas especialidades, contando con 50 alumnos.
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1993
        </button>
    </div>

</div>

<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1994
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body"> 
                <img src="img/carousel/8.jpg" width="200" style="float: left;margin-right: 5px;">
                Esta institución cuenta con Título de Propiedad, con Resolución Nº 1990 de fecha 30 de agosto de 1994 por la cual se reconoce la implementación de planes y programas del estudio del bachillerato Técnico Industrial en las especialidades de Electrónica y Electricidad.    

            </div>

        </div>

    </div>

</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-bady">
                <img src="img/nuestra historia/2.jpg" width="200" style="float: left;margin-right: 5px;">
                En el año 1999 se implementó la modalidad de Bachillerato Técnico Industrial en ambos turnos y se cerró la modalidad de Básico Técnico a raíz de la Reforma Educativa, pasando el Centro de Capacitación Técnica de Luque a formar parte del nivel Medio.
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1999
        </button>
    </div>

</div>



<p style="height: 400px"></p>
<%- include('pie') -%>
