<div class="pie">
   <i class="fas fa-copyright"> 2020 Centro De Capacitación Técnica De Luque</i>
   <i class="fas fa-map-marked-alt"> Mcal. Sucre y la Paz</i>
   <i class="fas fa-phone-alt"> +595 021 643 411</i>
</div>